{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags staticfiles i18n wagtailvideos_tags %}
{% block titletag %}{% blocktrans with title=video.title %}Editing video {{ title }}{% endblocktrans %}{% endblock %}

{% block extra_js %}
    {{ block.super }}

    {% url 'wagtailadmin_tag_autocomplete' as autocomplete_url %}
    <script>
        $(function() {
            $('#id_tags').tagit({
                autocomplete: {source: "{{ autocomplete_url|addslashes }}"}
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% trans "Editing" as editing_str %}
    {% include "wagtailadmin/shared/header.html" with title=editing_str subtitle=video.title icon="image" usage_object=video %}

    <div class="row row-flush nice-padding">

        <div class="col5">
            <form action="{% url 'wagtailvideos:edit' video.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="fields">
                    {% for field in form %}

                        {% if field.name == 'file' %}
                            {% include "wagtailvideos/videos/_file_field_as_li.html" %}
                        {% elif field.is_hidden %}
                            {{ field }}
                        {% else %}
                            {% include "wagtailadmin/shared/field_as_li.html" %}
                        {% endif %}

                    {% endfor %}
                    <li>
                        <input type="submit" value="{% trans 'Save' %}" />
                        {% if user_can_delete %}
                            <a href="{% url 'wagtailvideos:delete' video.id %}" class="button button-secondary no">{% trans "Delete video" %}</a>
                        {% endif %}
                    </li>
                </ul>
            </form>
        </div>
        <div class="col5 divider-after">
            <h2 class="label">{% trans "Video preview" %}</h2>
			{% video video controls style=max-width:100% %}
			<form action="{% url 'wagtailvideos:create_transcode' video.id %}" method="POST">
				{% csrf_token %}
				{{ transcode_form.media_format }}
				<input type='submit' />
			</form>
			{% if transcodes %}
				<h3>Available Transcodes</h3>
				<ul>
				{% for transcode in transcodes %}
					<li>{{ transcode.media_format }}</li>
				{% endfor %}
			</ul>
			{% else %}
				<h3>No transcodes found</h3>
				<p>If you wish to generate HTML5 compliant transcodes use the form above. This may take a while.</p>
			{% endif %}
        </div>
        <div class="col2 ">
            {% if url_generator_enabled %}
                <a href="{% url 'wagtailvideos:url_generator' video.id %}" class="button bicolor icon icon-link">{% trans "URL Generator" %}</a>
                <hr />
            {% endif %}

            <img src='{{video.thumbnail.url}}' />

            <dl>
                <dt>{% trans "Filesize" %}</dt>
                <dd>{% if filesize %}{{ filesize|filesizeformat }}{% else %}{% trans "File not found" %}{% endif %}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
