{% load i18n staticfiles %}
<form action="{% url 'wagtailvideos:edit_multiple' video.id %}" method="POST" enctype="multipart/form-data">
    <ul class="fields">
        {% csrf_token %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% include "wagtailadmin/shared/field_as_li.html" %}
            {% endif %}
        {% endfor %}
        <li>
            <input class='button' type="submit" value="{% trans 'Update' %}" />
            <a href="{% url 'wagtailvideos:delete_multiple' video.id %}" class="delete button button-secondary no">{% trans "Delete" %}</a>
        </li>
    </ul>
</form>
<div data-video-thumb="{{ video.id }}" class='thumb icon icon-image hasthumb'>
    <img class="placeholder" src="{% static 'wagtailvideos/img/spinner.gif' %}" />
	<img class="hidden" style="display:none;" src="{{ video.get_thumbnail_url }}" />
</div>
<script>
  (function() {

   var thumb = $("[data-video-thumb=\"" + {{ video.id }} + "\"]");
   var placeholder = thumb.find(".placeholder");
   var original = thumb.find(".hidden");
   var originalEl = original.get(0);
   original.on("load", function() {
       original.show(400);
       placeholder.hide(400);
       });
   var increasing = false;
   original.on("error", function() {

       if (!increasing) {
       increasing = true;
       setTimeout(function() {
           increasing = false;
           originalEl.src=originalEl.src + "?t=" + Date.now();
           }, 1000);
       }

       });

   $("[data-thumb-target=\"" + {{ video.id }} + "\"]").append(thumb);
   })()
      
</script>
