{% load i18n %}
<div data-video-thumb="{{ video.id }}" class='thumb icon icon-image hasthumb'>
	<img src="{{ video.thumbnail.url }}" />
</div>
<form action="{% url 'wagtailvideos:edit_multiple' video.id %}" method="POST" enctype="multipart/form-data">
    <ul class="fields">
        {% csrf_token %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% include "wagtailadmin/shared/field_as_li.html" %}
            {% endif %}
        {% endfor %}
        <li>
            <input type="submit" value="{% trans 'Update' %}" />
            <a href="{% url 'wagtailvideos:delete_multiple' video.id %}" class="delete button button-secondary no">{% trans "Delete" %}</a>
        </li>
    </ul>
</form>
<script>
	var thumb = $("[data-video-thumb=\"" + {{ video.id }} + "\"]");
	$(".preview").append(thumb);
</script>
